<div data-ng-controller="BillSummary" data-ng-init="getBillSum()">

  <div class="title-bar" style="height: 35px">
    <div class="left">
		<div class="head" data-ng-click="goHome()"><img src="images/fox-orange.svg" width="18px"> Foxcove</div>
    </div>
    <div class="right">
        <input type="text" placeholder="try another ZIP" class="large-4 medium-5 small-6 columns graff" style="float: right; margin-top: 15px; height: 24px; font-size: 85%" data-ng-model="location" data-ng-pattern="/^\d{5}$/" data-ng-controller="HomeController" data-ng-enter="submit()">
    </div>
  </div>
  <div class="row medium-8 large-7 columns graff" style="margin-top: 1rem;">
    <div class="blog-post">
      <h4 class="head">{{billTitle}}</h4> <small>Introduced: {{introDate | date}}</small>
      <div class="callout">
        <p>
          <span class="head" data-ng-if="officialIntro">Described as:</span> {{officialIntro}}
          <span class="head" data-ng-if="!officialIntro">Sorry, we have no details for this bill.</span>
        </p>
        <span class="head">Bill Summary:</span><div ng-repeat="summaryFragment in summaryFragments"><p ng-bind-html="summaryFragment"> {{ summaryFragment }} </p></div>
				<p>TODO: Maybe merge this initial API call with a subsequent Sunlight API call to build out a more robust description. There's a lot that can be done here if anyone feels like it. Tons of interactions and transactions to filter and display.</p>
			</div>
      <div>
        <p>
				  <span ng-click="loadProfile(sponsor)">
					  Sponsored by <span class="link" style="font-weight: 600">{{sponsor.firstname}} {{sponsor.lastname}} ({{sponsor_role.description}})</span>
				  </span>
				<br />
				Cosponsors:
					<span class="link" ng-repeat="cosponsor in cosponsors" ng-click="loadProfile(cosponsor)" ng-class="{active : isSelected(cosponsor)}">
						{{cosponsor.firstname}} {{cosponsor.lastname}}&nbsp;&middot;&nbsp;
					</span>
				</p>
      </div>
    </div>
	</div>
