body {
  background-color: #FBF7EB; }

.circular {

  height: 100px;
  width: 100px;
  border: #FF6526;
  border-style: solid;
  border-width: 1px;
	border-radius: 60px;
	-webkit-border-radius: 60px;
	-moz-border-radius: 60px; }
  
.resize {
    position: relative;
    width: 100px;
    height: 100px;
    display: block;
    background-size: 100px auto;
    background-position: 55% 55%; }

.grid-list {
  list-style-type: none;
  list-style: none; }



.head {
  font-family: 'Cutive', serif;
  color: #FF530D }

.graff {
  font-family: 'Scope One', serif; }

.color1 {
  color: #00B297; }

.color2 {
  color: #0DFFD9;}

.color3 {
  color: #FF6526; }

.color4 {
  color: #B23705; }