<div class="row" data-ng-controller="Comments" ng-init="getComments(pageName);">
  <h3 class="head">Comments</h3>
  <div>
    <div class="graff">
    <input type="text" class="comments-bar" placeholder="enter your name" ng-model="user">
    <input type="text" class="comments-bar" placeholder="enter your comment" ng-model="text">
    <button ng-click="postComment(text, user, pageName); user = ''; text = ''; getComments(pageName);" class="callout small right">Post</button>
    </div>
  </div>
  <div>
    <p>&nbsp;</p>
  </div>
  <div id="historicComments">
    <p>
    <div class="callout graff" id="commentBlock" ng-repeat="comment in comments">
      <span id="commentUser">{{comment.username}}</span><br/>
      <span id="commentContent">{{comment.content}}</span><br/>
      <span id="commentTime">{{comment.timestamp | date: 'medium'}}</span><br/><br/>
      <a id="deleteOption" ng-click="deleteComment(comment); getComments(pageName)">delete</a>
    </div>
    </p>
  </div>
</div>