<div ng-controller="ProfileController" ng-init="build()">
  <!-- Navigation -->
  <div class="title-bar" style="height: 35px">
    <div class="left">
      <div class="head"><img src="images/fox-orange.svg" width="18px"> Foxcove</div>
    </div>
    <div class="right">
        <input type="text" placeholder="try another ZIP" class="large-4 medium-5 small-6 columns graff" style="float: right; margin-top: 15px; height: 24px; font-size: 75%" ng-model="location" ng-pattern="/^\d{5}$/" ng-controller="HomeController" ng-enter="submit()">
    </div>
  </div>
  <!-- /Navigation -->

  <br>

  <div class="row">

    <div class="large-3 medium-3 columns">
      <img ng-src="{{rep.img}}" alt="{{rep.firstname}} {{rep.lastname}}">
    </div>

    <div class="medium-7 large-6 columns">
      <h1 class="head">{{rep.title}}. {{rep.firstname}} {{rep.lastname}}</h1>
      <p class="subheader graff">{{rep.bio}}</p>
      <div class="">
        <form>
          <div class="row graff">
            <div class="small-12 columns">
              <label>Sponsored Bills
                <select>
                  <option ng-repeat="bill in bills | orderBy: '-last_action_at'" value="{{bill.number}}">{{bill.popular_title || bill.short_title || bill.bill_id}}</option>
                </select>
              </label>
            </div>
            <div class="small-12 columns">
              <button type="submit" class="button">Get Details</button>
            </div>
          </div>
        </form>
      </div>
    </div>

    <div class="show-for-large large-3 columns" id="space-holder">
      
    </div>

  </div>

  <div class="row column">
    <hr>
  </div>

  <div class="row column">
    <p class="lead graff">Display cool stuff about {{rep.firstname}} below.</p>
  </div>

  <div class="row small-up-1 medium-up-2 large-up-3 graff">
    <div class="column">
      <div class="callout">
        <h3>{{rep.firstname}}'s top industry contributors:</h3>
        <ul>
          <li ng-repeat="industry in rep.affiliations.industries">{{industry.industry_name}}: ${{industry.total}}
        </ul>
        <p><a href="{{rep.affiliations.industryLink}}">more...</a></p>
        <!-- <p><img src="http://placehold.it/400x370&text=Pegasi B" alt="image of a planet called Pegasi B"></p> -->
        <!-- <p class="lead">People have things to say!</p>
        <p class="subheader">We can do a thing with that.</p> -->
        
      </div>
    </div>
    <div class="column">
      <div class="callout">
        <h3>{{rep.firstname}}'s top donors'</h3>
        <ul>
          <li ng-repeat="donor in rep.affiliations.companies">{{donor.org_name}}: ${{donor.total}}
        </ul>
        <p><a href="{{rep.affiliations.companyLink}}">more...</a></p>

        <!-- <p>Born {{rep.birthdate | date}}</p>
        <p class="lead">No pic, here, but space is maintained.</p>
        <p class="subheader">Oh, btw. I installed a moment.js dependency on bower but haven't brought it in yet. Could probably do some cool stuff easily with that.</p> -->
      </div>
    </div>
    <div class="column">
      <div class="callout">
        <h3>{{rep.firstname}}'s other positions</h3>
        <ul ng-show="rep.affiliations.positions[0]">
          <li ng-repeat="position in rep.affiliations.positions">{{position.title}} of {{position.organization}}
        </ul>
        <!-- <p><img src="http://placehold.it/400x370&text=Pegasi B" alt="image of a planet called Pegasi B"></p>
        <p class="lead">What about a map to {{rep.lastname}}'s office?</p>
        <p class="subheader">Not sure I'm happy with the stability of this rep object. That should say the name of the state up there. Call it a bug, but I have reservations. Might be inherent to the method as it presently is.</p> -->
      </div>
    </div>
    <div class="column">
      <div class="callout">
        <p>One caveat:</p>
        <p><img src="http://placehold.it/400x370&text=Pegasi B" alt="image of a planet called Pegasi B"></p>
        <p class="lead">All records are not created equally</p>
        <p class="subheader">Use the profile-object-keys.txt for a reference, but also I'm logging the rep object for debugging purposes in the browser.</p>
      </div>
    </div>
    <div class="column">
      <div class="callout">
        <p>Etc.</p>
        <p><img src="http://placehold.it/400x370&text=Pegasi B" alt="image of a planet called Pegasi B"></p>
        <p class="lead">Words words words</p>
        <p class="subheader">Sed posuere consectetur est at lobortis. Donec ullamcorper nulla non metus auctor fringilla.</p>
      </div>
    </div>
    <div class="column">
      <div class="callout">
        <p>That's my time.</p>
        <p><img src="http://placehold.it/400x370&text=Pegasi B" alt="image of a planet called Pegasi B"></p>
        <p class="lead">Etiam Elit Dapibus Vestibulum Fermentum</p>
        <p class="subheader">Curabitur blandit tempus porttitor. Nullam quis risus eget urna mollis ornare vel eu leo. Donec id elit non mi porta gravida at eget metus. Cras mattis consectetur purus sit amet fermentum.
  Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Maecenas sed diam eget risus varius blandit sit amet non magna. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Donec sed odio dui. Donec sed odio dui.</p>
      </div>
    </div>

  </div>
</div>