<div data-ng-controller="ProfileController" data-ng-init="build()">
  <!-- Navigation -->
  <div class="title-bar" style="height: 35px">
    <div class="left">
      <div class="head" data-ng-click="goHome()"><img src="images/fox-orange.svg" width="18px"> Foxcove</div>
    </div>
    <div class="right">
        <input type="text" placeholder="try another ZIP" class="large-4 medium-5 small-6 columns graff" style="float: right; margin-top: 15px; height: 24px; font-size: 75%" data-ng-model="location" data-ng-pattern="/^\d{5}$/" data-ng-controller="HomeController" data-ng-enter="submit()">
    </div>
  </div>
  <!-- /Navigation -->

  <br>

  <div class="row">

    <div class="large-3 medium-3 columns">
      <img data-ng-src="{{rep.img}}" alt="{{rep.firstname}} {{rep.lastname}}">
    </div>

    <div class="medium-7 large-6 columns">
      <h1 class="head"><span data-ng-if="rep.title">{{rep.title}}. </span>{{rep.firstname}} {{rep.lastname}}</h1>
      <p class="subheader graff">{{rep.bio}}</p>
      <div class="">
        <form>
          <div class="row graff">
            <div class="small-12 columns">
              <label>Sponsored Bills
                <select name="billSelect" ng-model="model.bill">
                  <option ng-repeat="bill in bills | orderBy: '-last_action_at'" value="{{bill}}">{{ bill.popular_title || bill.short_title || bill.official_title }}</option>
                </select>
              </label>
            </div>
            <div class="small-12 columns">
              <button type="submit" class="success small hollow button" ng-click="loadBill(model.bill)" data-ng-if="model">Learn More About This Bill</button>
            </div>
          </div>
        </form>
      </div>
    </div>

    <div class="show-for-large large-3 columns" id="space-holder">

    </div>

  </div>

  <div class="row column">
    <hr>
  </div>

  <div class="row small-up-1 medium-up-2 large-up-3 graff">
    <div class="column" data-ng-if="rep.affiliations.industries">
      <div class="callout">
        <p class="head">{{rep.firstname}}'s top industry contributors:</p>
        <ul>
          <li data-ng-repeat="industry in rep.affiliations.industries">{{industry.industry_name}}: {{format(industry.total, "$")}}
        </ul>
        <p><a href="{{rep.affiliations.industryLink}}">more...</a></p>

        <!-- <p><img src="http://placehold.it/400x370&text=Pegasi B" alt="image of a planet called Pegasi B"></p> -->
        <!-- <p class="lead">People have things to say!</p>
        <p class="subheader">We can do a thing with that.</p> -->

      </div>
    </div>
    <div class="column" data-ng-if="rep.affiliations.companies">
      <div class="callout">
        <p class="head">{{rep.title}}. {{rep.lastname}}'s top donors:</p>
        <ul>
          <li data-ng-repeat="donor in rep.affiliations.companies">{{donor.org_name}}: {{format(donor.total, "$")}}
        </ul>
        <p><a href="{{rep.affiliations.companyLink}}">more...</a></p>
      </div>
    </div>
    <!--The ng-if directive hides this div if there are no results-->
    <div class="column" data-ng-if="rep.affiliations.positions[0]">
      <div class="callout">
        <p class="head">Other positions held by {{rep.firstname}}:</p>
        <ul data-ng-show="rep.affiliations.positions[0]">
          <li data-ng-repeat="position in rep.affiliations.positions">{{position.title}} of {{position.organization}}
        </ul>
      </div>
    </div>

    <!--USE THE THREE DIVS BELOW FOR ANYTHING YOU WANT, JUST UNCOMMENT-->

    <!--<div class="column">
      <div class="callout">
        <p class="head"></p>
        <p></p>
      </div>
    </div>-->

    <!--<div class="column">
      <div class="callout">
        <p class="head"></p>
        <p></p>
      </div>
    </div>-->

    <!--<div class="column">
      <div class="callout">
        <p class="head"></p>
        <p></p>
      </div>
    </div>-->

  </div>
</div>
