<div data-ng-controller="ProfileController" data-ng-init="build()">
  <!-- Navigation -->
  <div class="title-bar" style="height: 35px">
    <div class="left">
      <div class="head link" data-ng-click="goHome()"><img src="images/fox-orange.svg" width="18px"> Foxcove</div>
    </div>
    <div class="right">
        <input type="text" placeholder="try another ZIP" class="large-4 medium-5 small-6 columns graff" style="float: right; margin-top: 15px; height: 24px; font-size: 75%" data-ng-model="location" data-ng-pattern="/^\d{5}$/" data-ng-controller="HomeController" data-ng-enter="submit()">
    </div>
  </div>
  <!-- /Navigation -->

  <br>

  <div class="row">

    <div class="large-3 medium-3 columns">
      <img data-ng-src="{{rep.img}}" data-ng-img-err="images/{{rep.party}}.svg" alt="{{rep.firstname}} {{rep.lastname}}">
    </div>

    <div class="medium-7 large-6 columns">
      <h1 class="head"><span data-ng-if="rep.title">{{rep.title}}. </span>{{rep.nickname || rep.firstname}} {{rep.lastname}}</h1>
      <p class="subheader graff">{{rep.bio}}</p>
      <div >
        <form>
          <div class="row graff" data-ng-if="rep.title">
            <div class="small-12 columns">
              <label>Sponsored Bills
                <select name="billSelect" ng-model="model.bill">
                  <option ng-repeat="bill in bills | orderBy: '-last_action_at' || '-created_at'" value="{{bill}}">{{ bill.popular_title || bill.short_title || bill.official_title || bill.title }}</option>
                </select>
              </label>
            </div>
            <div class="small-12 columns">
              <button type="submit" class="success small hollow button" ng-click="loadBill(model.bill)" data-ng-if="model && rep.title">Learn More About This Bill</button>
            </div>
          </div>
        </form>
      </div>
    </div>

    <div class="show-for-large large-3 columns" id="space-holder">

    </div>

  </div>

  <div class="row column">
    <hr>
  </div>

  <div class="row" style="margin-top: 1rem">
    <div class="medium-6 columns medium-push-6 graff">
      <div class="column">
        <!--Comments-->
          <div class="comments" ui-view="comments"></div>
        <!--Comments-->
      </div>
    </div>
    <div class="medium-6 columns medium-pull-6">
      <div data-ng-if="rep.affiliations.industries">
        <div class="callout graff">
          <p class="head">Top Industry Contributors</p>
          <ul>
            <li data-ng-repeat="industry in rep.affiliations.industries">{{industry.industry_name}}: {{format(industry.total, "$")}}</li>
          </ul>
          <p><a href="{{rep.affiliations.industryLink}}">more...</a></p>
        </div>
      </div>
      <div data-ng-if="rep.affiliations.companies">
        <div class="callout graff">
          <p class="head">Top Company Contributors</p>
          <ul>
            <li data-ng-repeat="donor in rep.affiliations.companies">{{donor.org_name}}: {{format(donor.total, "$")}}</li>
          </ul>
          <p><a href="{{rep.affiliations.companyLink}}">more...</a></p>
        </div>
      </div>
      <!--The ng-if directive hides this div if there are no results-->
      <div data-ng-if="rep.affiliations.positions[0]">
        <div class="callout graff">
          <p class="head">Other Positions Held</p>
          <ul data-ng-show="rep.affiliations.positions[0]">
            <li data-ng-repeat="position in rep.affiliations.positions">{{position.title}} of {{position.organization}}</li>
          </ul>
        </div>
      </div>

      <!--USE THE THREE DIVS BELOW FOR ANYTHING YOU WANT, JUST UNCOMMENT-->

      <div data-ng-if="newsData">
        <div class="callout graff">
          <p class="head">In the News</p>
          <ul>
            <li data-ng-repeat="repNews in newsData"><a class="link" ng-href="{{repNews.url}}">{{repNews.name}}</a></li>
          </ul>
        </div>
      </div>

      <!--THE ROW BELOW THIS COMMENT IS ONLY VISIBLE ON STATE REP VIEW-->

      <div data-ng-if="!rep.title && bills">
        <div class="callout graff"" >
          <p class="head">Legislation sponsored by {{rep.name}}:</p>
          <ul>
            <p class="" ng-repeat="bill in bills | orderBy: '-last_action_at' || '-created_at' | limitTo:10" value="{{bill}}">{{ bill.popular_title || bill.short_title || bill.official_title || bill.title }}</p>
          </ul>
        </div>
      </div>

      <!--<div class="column">
        <div class="callout graff">
          <p class="head"></p>
          <p></p>
        </div>
      </div>-->

      <!--<div class="column">
        <div class="callout graff">
          <p class="head"></p>
          <p></p>
        </div>
      </div>-->
    </div>

  </div>
</div>