<div class="row centered" data-ng-controller="HomeController">
  <h1 class="head" style="text-align: center" data-ng-click="goHome()"><img src="images/fox-orange.svg" width="50px"> Foxcove</h1>
  <div>
    <div class="input-group" name="location-form" data-ng-submit="submit()" data-ng-init="loadZip()">
      <input type="text" name="zipField" placeholder="enter your ZIP code" class="input-group-field search-bar" data-ng-model="location" data-ng-enter="submit()">
      <div class="input-group-button">
        <button class="button-clear postfix search-button" style="background-image: url('/images/searchLoc.png')" name="submit" type="submit" data-ng-click="submit()"></button>
      </div>
    </div>
  </div>
  <div class="err" style="text-align: center" data-ng-hide="errorResponse">
    <h5 data-ng-message="errorResponse" class="head">Map your political landscape.</h5>
  </div>
  <div class="err" style="text-align: center" data-ng-show="errorResponse">
    <h5 data-ng-message="errorResponse" class="head">{{errorResponse}}</h5>
  </div>
</div>