<div ng-controller="HomeController">
  <div class="row">
    <div class="small-5 small-centered columns">
      <div class="input-group small-3 columns" name="location-form" ng-submit="submit()" style="min-width: 150px">
        <!--<span class="input-group-label">ZIP</span>-->
        <input type="text" placeholder="Where do you live?" class="input-group-field" ng-model="location" ng-enter="submit()">
        <div class="input-group-button">
          <button class="button postfix" style="background-color: #00B297" name="submit" type="submit" ng-click="submit()">SUBMIT</button>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="small-6 small-centered columns">
      <div ng-repeat="rep in reps | orderBy : '-title'" style="padding: 10px">
        <a ng-href="{{rep.website}}"><div class="resize circular" style="background-image: url({{rep.thumb}})" alt="{{rep.name}}"></div></a>
      </div>
    </div>
  </div>
</div>

        <!--<h4 class="subheader graff">
          {{rep.title}} {{rep.name}} ({{rep.affiliation}})
        </h4>-->